### Q1) Create first dataframe having values as given below:

Roll,Name,Section

12,Manoj,A

10,Pankaj,B

14,Maya,A

In [1]:
import spark.implicits._

Intitializing Scala interpreter ...

Spark Web UI available at http://LIN24011373.corp.capgemini.com:4040
SparkContext available as 'sc' (version = 3.1.2, master = local[*], app id = local-1649343713760)
SparkSession available as 'spark'

import spark.implicits._

In [84]:
import org.apache.spark.sql.types._

import org.apache.spark.sql.types._

In [85]:
import org.apache.spark.sql.Row

import org.apache.spark.sql.Row

In [86]:
val data=Seq((12,"Manoj","A"),(10,"Pankaj","B"),(14,"Maya","A")).toDF("Roll","Name","Section")
data.show()

+----+------+-------+
|Roll|  Name|Section|
+----+------+-------+
|  12| Manoj|      A|
|  10|Pankaj|      B|
|  14|  Maya|      A|
+----+------+-------+

data: org.apache.spark.sql.DataFrame = [Roll: int, Name: string ... 1 more field]

In [87]:
data.printSchema()

root
 |-- Roll: integer (nullable = false)
 |-- Name: string (nullable = true)
 |-- Section: string (nullable = true)

#### Create a second dataframe having values as given below:
Roll,Subject,Marks,Grade

22,Maths,79,B

23,Physics,98,A

24,Chemistry,60,C

In [88]:
val data1=Seq((22,"Maths",79,"B"),(23,"Physics",98,"A"),(24,"Chemistry",60,"C")).toDF("Roll","Subject","Marks","Grade")
data1.show()

+----+---------+-----+-----+
|Roll|  Subject|Marks|Grade|
+----+---------+-----+-----+
|  22|    Maths|   79|    B|
|  23|  Physics|   98|    A|
|  24|Chemistry|   60|    C|
+----+---------+-----+-----+

data1: org.apache.spark.sql.DataFrame = [Roll: int, Subject: string ... 2 more fields]

In [89]:
data1.printSchema()

root
 |-- Roll: integer (nullable = false)
 |-- Subject: string (nullable = true)
 |-- Marks: integer (nullable = false)
 |-- Grade: string (nullable = true)

//For the above given two given datasets, perform the following operations.

### a)Load above given two datasets in two different List and convert that List to a dataframe.**

In [90]:
var list1=data.collect().toList
var list2=data1.collect().toList

list1: List[org.apache.spark.sql.Row] = List([12,Manoj,A], [10,Pankaj,B], [14,Maya,A])
list2: List[org.apache.spark.sql.Row] = List([22,Maths,79,B], [23,Physics,98,A], [24,Chemistry,60,C])

##### Converts lists into dataframe using RDD

In [91]:
val new_rdd=spark.sparkContext.parallelize(list1)
val new_schema = StructType(Array(
  StructField("Roll", IntegerType, true),
  StructField("Name", StringType, true),
  StructField("Section", StringType, true)
))
val df_list=spark.createDataFrame(new_rdd,new_schema)

new_rdd: org.apache.spark.rdd.RDD[org.apache.spark.sql.Row] = ParallelCollectionRDD[176] at parallelize at <console>:58
new_schema: org.apache.spark.sql.types.StructType = StructType(StructField(Roll,IntegerType,true), StructField(Name,StringType,true), StructField(Section,StringType,true))
df_list: org.apache.spark.sql.DataFrame = [Roll: int, Name: string ... 1 more field]

In [92]:
df_list.show()

+----+------+-------+
|Roll|  Name|Section|
+----+------+-------+
|  12| Manoj|      A|
|  10|Pankaj|      B|
|  14|  Maya|      A|
+----+------+-------+

In [93]:
val new_rdd1=spark.sparkContext.parallelize(list2)
val new_schema1 = StructType(Array(
  StructField("roll", IntegerType, true),
  StructField("subject", StringType, true),
  StructField("marks", IntegerType, true),
))
val df_list1=spark.createDataFrame(new_rdd1,new_schema1)

new_rdd1: org.apache.spark.rdd.RDD[org.apache.spark.sql.Row] = ParallelCollectionRDD[180] at parallelize at <console>:58
new_schema1: org.apache.spark.sql.types.StructType = StructType(StructField(roll,IntegerType,true), StructField(subject,StringType,true), StructField(marks,IntegerType,true))
df_list1: org.apache.spark.sql.DataFrame = [roll: int, subject: string ... 1 more field]

In [94]:
df_list1

res43: org.apache.spark.sql.DataFrame = [roll: int, subject: string ... 1 more field]

#### b)create a generalised scala function to perform the union of two created dataframes.

In [95]:
val df_union=df_list.union(df_list1)

df_union: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [Roll: int, Name: string ... 1 more field]

#### c)Display both individual and union datasets results.

In [96]:
df_list.show()

+----+------+-------+
|Roll|  Name|Section|
+----+------+-------+
|  12| Manoj|      A|
|  10|Pankaj|      B|
|  14|  Maya|      A|
+----+------+-------+

In [97]:
df_list1.show()

+----+---------+-----+
|roll|  subject|marks|
+----+---------+-----+
|  22|    Maths|   79|
|  23|  Physics|   98|
|  24|Chemistry|   60|
+----+---------+-----+

In [98]:
df_union.show()

+----+---------+-------+
|Roll|     Name|Section|
+----+---------+-------+
|  12|    Manoj|      A|
|  10|   Pankaj|      B|
|  14|     Maya|      A|
|  22|    Maths|     79|
|  23|  Physics|     98|
|  24|Chemistry|     60|
+----+---------+-------+

### Q2) Given below is the books table.

Author      BookName    CostPerUnit UnitsSold
Author1	   HarryPorter     1000       56
Author2    Untold Story    658        30
Author3    ThreeIdiots     500        60
Author2    Mind-Master     488        45
Author2    CourtsofIndia   560        60
Author4      Manav         560        45
Author3    SaffronSwords   490        50

#### For the above given datasets, perform the following operations.

### a)Expect data is having delimiter as comma. Load dataset in a List and convert that List to a dataframe say data_df.

In [99]:
val rows_df=Seq(Row("Author1","HarryPorter",1000,56),
                Row("Author2","Untold Story",658,30),
                Row("Author3","ThreeIdiots",500,60),
                Row("Author2","Mind-Master",488,45),
                Row("Author2","CourtsofIndia",560,60),
                Row("Author4","Manav",560,45),
                Row("Author3","SaffronSwords",490,50))

rows_df: Seq[org.apache.spark.sql.Row] = List([Author1,HarryPorter,1000,56], [Author2,Untold Story,658,30], [Author3,ThreeIdiots,500,60], [Author2,Mind-Master,488,45], [Author2,CourtsofIndia,560,60], [Author4,Manav,560,45], [Author3,SaffronSwords,490,50])

#### Load dataset into a list

In [100]:
val schema_df=List(StructField("Author",StringType,true),
                   StructField("BookName",StringType,true),
                   StructField("CostPerUnit",IntegerType,true),
                   StructField("UnitsSold",IntegerType,true))

schema_df: List[org.apache.spark.sql.types.StructField] = List(StructField(Author,StringType,true), StructField(BookName,StringType,true), StructField(CostPerUnit,IntegerType,true), StructField(UnitsSold,IntegerType,true))

#### Converts that list into DataFrame

In [101]:
val data_df=spark.createDataFrame(spark.sparkContext.parallelize(rows_df),StructType(schema_df))

data_df: org.apache.spark.sql.DataFrame = [Author: string, BookName: string ... 2 more fields]

In [102]:
data_df.show()

+-------+-------------+-----------+---------+
| Author|     BookName|CostPerUnit|UnitsSold|
+-------+-------------+-----------+---------+
|Author1|  HarryPorter|       1000|       56|
|Author2| Untold Story|        658|       30|
|Author3|  ThreeIdiots|        500|       60|
|Author2|  Mind-Master|        488|       45|
|Author2|CourtsofIndia|        560|       60|
|Author4|        Manav|        560|       45|
|Author3|SaffronSwords|        490|       50|
+-------+-------------+-----------+---------+

### b)Create a column named Earning and find the total cost earned by each book based on CostPerUnit and UnitsSold by creating a Scala UDF.

##### UDF’s are used to extend the functions of the framework and re-use this function on several DataFrame.

In [103]:
// Created a Function

def total_cal(costperunit:Int,unitssold:Int):Int={
    val total_cost=costperunit*unitssold
    return total_cost
}

total_cal: (costperunit: Int, unitssold: Int)Int

In [104]:
 //this function is available at org.apache.spark.sql.functions.udf package. 
//import this package before using it.


import org.apache.spark.sql.functions.udf

import org.apache.spark.sql.functions.udf

In [105]:
//convert this function total_cal() to UDF by passing the function to Spark SQL udf(),

val totalUDF=udf(total_cal(_,_))

totalUDF: org.apache.spark.sql.expressions.UserDefinedFunction = SparkUserDefinedFunction($Lambda$4751/0x00000001017e7040@69b3911c,IntegerType,List(Some(class[value[0]: int]), Some(class[value[0]: int])),Some(class[value[0]: int]),None,false,true)

In [106]:
// New Column - Earning

val data_df1=data_df.withColumn("Earning",totalUDF('CostPerUnit,'UnitsSold))

data_df1: org.apache.spark.sql.DataFrame = [Author: string, BookName: string ... 3 more fields]

In [107]:
data_df1.show()

+-------+-------------+-----------+---------+-------+
| Author|     BookName|CostPerUnit|UnitsSold|Earning|
+-------+-------------+-----------+---------+-------+
|Author1|  HarryPorter|       1000|       56|  56000|
|Author2| Untold Story|        658|       30|  19740|
|Author3|  ThreeIdiots|        500|       60|  30000|
|Author2|  Mind-Master|        488|       45|  21960|
|Author2|CourtsofIndia|        560|       60|  33600|
|Author4|        Manav|        560|       45|  25200|
|Author3|SaffronSwords|        490|       50|  24500|
+-------+-------------+-----------+---------+-------+

**c)Find the best top two selling books of each Author using ranking logic. Make use of scala in dataframes.**

In [108]:
import org.apache.spark.sql.functions.rank

import org.apache.spark.sql.functions.rank

In [109]:
import org.apache.spark.sql.expressions.Window

import org.apache.spark.sql.expressions.Window

In [110]:
var top=data_df1.withColumn("rank",rank().over(Window.partitionBy($"Author").orderBy($"UnitsSold".desc)))

top: org.apache.spark.sql.DataFrame = [Author: string, BookName: string ... 4 more fields]

In [111]:
top.show()

+-------+-------------+-----------+---------+-------+----+
| Author|     BookName|CostPerUnit|UnitsSold|Earning|rank|
+-------+-------------+-----------+---------+-------+----+
|Author1|  HarryPorter|       1000|       56|  56000|   1|
|Author2|CourtsofIndia|        560|       60|  33600|   1|
|Author2|  Mind-Master|        488|       45|  21960|   2|
|Author2| Untold Story|        658|       30|  19740|   3|
|Author3|  ThreeIdiots|        500|       60|  30000|   1|
|Author3|SaffronSwords|        490|       50|  24500|   2|
|Author4|        Manav|        560|       45|  25200|   1|
+-------+-------------+-----------+---------+-------+----+

**Q3)**
Create a file named result.json file with the following data.
{"Name":"Manoj","status":"PASS","Comments": "has good conduct in class","Subjects":[{"sub":"Maths","Marks":98},{"sub":"Physics","Marks":86},{"sub":"Chemistry","Marks":88},{"sub":"Biology","Marks":72},{"sub":"Computer","Marks":90}]}

Perform the following task using scala spark with above given data and without creating any manual structure schema of json.

### a) Extract Subjects values in separate rows.

In [164]:
import org.apache.spark.sql.functions.{explode}

import org.apache.spark.sql.functions.explode

In [165]:
val path = "C:\\Users\\SUPBHAUS\\Desktop\\Scala Training\\Result.json"
val json_data = spark.read.json(path)

path: String = C:\Users\SUPBHAUS\Desktop\Scala Training\Result.json
json_data: org.apache.spark.sql.DataFrame = [Comments: string, Name: string ... 2 more fields]

In [166]:
json_data.printSchema()

root
 |-- Comments: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Subjects: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- Marks: long (nullable = true)
 |    |    |-- sub: string (nullable = true)
 |-- status: string (nullable = true)

In [167]:
val df = json_data.withColumn("sub_flat",explode($"Subjects"))
df.show()

+--------------------+-----+--------------------+------+---------------+
|            Comments| Name|            Subjects|status|       sub_flat|
+--------------------+-----+--------------------+------+---------------+
|has good conduct ...|Manoj|[{98, Maths}, {86...|  PASS|    {98, Maths}|
|has good conduct ...|Manoj|[{98, Maths}, {86...|  PASS|  {86, Physics}|
|has good conduct ...|Manoj|[{98, Maths}, {86...|  PASS|{88, Chemistry}|
|has good conduct ...|Manoj|[{98, Maths}, {86...|  PASS|  {72, Biology}|
|has good conduct ...|Manoj|[{98, Maths}, {86...|  PASS| {90, Computer}|
+--------------------+-----+--------------------+------+---------------+

df: org.apache.spark.sql.DataFrame = [Comments: string, Name: string ... 3 more fields]

In [169]:
df.select($"sub_flat").show()

+---------------+
|       sub_flat|
+---------------+
|    {98, Maths}|
|  {86, Physics}|
|{88, Chemistry}|
|  {72, Biology}|
| {90, Computer}|
+---------------+

### b) Extract the values as sub column and their corresponding marks as marks column and display it.**

In [170]:
val sub_col=df.select(col("sub_flat.marks"))

sub_col: org.apache.spark.sql.DataFrame = [marks: bigint]

In [171]:
sub_col.show()

+-----+
|marks|
+-----+
|   98|
|   86|
|   88|
|   72|
|   90|
+-----+

### c) Create a column say grade and assign grade to each subject based on the marks obtained.

In [119]:
val sub_col1=sub_col.withColumn("grade",when(col("Marks")>=90,"A").when(col("Marks")>80 && col("Marks")<90,"B").otherwise("C"))

sub_col1: org.apache.spark.sql.DataFrame = [Marks: bigint, sub: string ... 1 more field]

In [120]:
sub_col1.show()

+-----+---------+-----+
|Marks|      sub|grade|
+-----+---------+-----+
|   98|    Maths|    A|
|   86|  Physics|    B|
|   88|Chemistry|    B|
|   72|  Biology|    C|
|   90| Computer|    A|
+-----+---------+-----+

###
**Q4)** Given below is a dataset which will be stored in a csv file named employee.csv
1,Amit,1000,01/01/2016
1,Amit,2000,02/01/2016
1,Amit,1000,03/01/2016
1,Amit,2000,04/01/2016
1,Amit,3000,05/01/2016
1,Amit,1000,06/01/2016

### a) Define a schema for the file and load the data in a dataframe using defined schema. Create a new column named prevSal which will have data of Amit's previous row value of salary as given below

In [121]:
val schema3=List(StructField("EmpId",IntegerType,true),
                 StructField("EmpName",StringType,true),
                 StructField("Salary",IntegerType,true),
                 StructField("SalaryDate",StringType,true))

schema3: List[org.apache.spark.sql.types.StructField] = List(StructField(EmpId,IntegerType,true), StructField(EmpName,StringType,true), StructField(Salary,IntegerType,true), StructField(SalaryDate,StringType,true))

In [122]:
import org.apache.spark.sql.SparkSession

import org.apache.spark.sql.SparkSession

In [123]:
val emp_df=spark.read.option("header","true").schema(StructType(schema3)).format("CSV").load("C:\\Users\\SUPBHAUS\\Desktop\\Scala Training\\employee.csv")

emp_df: org.apache.spark.sql.DataFrame = [EmpId: int, EmpName: string ... 2 more fields]

In [124]:
emp_df.show()

+-----+-------+------+----------+
|EmpId|EmpName|Salary|SalaryDate|
+-----+-------+------+----------+
|    1|   Amit|  1000|01-01-2016|
|    1|   Amit|  2000|02-01-2016|
|    1|   Amit|  1000|03-01-2016|
|    1|   Amit|  2000|04-01-2016|
|    1|   Amit|  3000|05-01-2016|
|    1|   Amit|  1000|06-01-2016|
|    1|   Amit|  2000|07-01-2016|
+-----+-------+------+----------+

In [125]:
//order by Salary Date to get previous salary.

val window=Window.orderBy("SalaryDate")

window: org.apache.spark.sql.expressions.WindowSpec = org.apache.spark.sql.expressions.WindowSpec@615148e7

In [126]:
//use lag to get previous row value for salary, 1 is the offset
//For first row we will get NULl

val emp_df1=emp_df.withColumn("prevSal",lag(col("Salary"),1).over(window))

emp_df1: org.apache.spark.sql.DataFrame = [EmpId: int, EmpName: string ... 3 more fields]

In [127]:
emp_df1.show()

+-----+-------+------+----------+-------+
|EmpId|EmpName|Salary|SalaryDate|prevSal|
+-----+-------+------+----------+-------+
|    1|   Amit|  1000|01-01-2016|   null|
|    1|   Amit|  2000|02-01-2016|   1000|
|    1|   Amit|  1000|03-01-2016|   2000|
|    1|   Amit|  2000|04-01-2016|   1000|
|    1|   Amit|  3000|05-01-2016|   2000|
|    1|   Amit|  1000|06-01-2016|   3000|
|    1|   Amit|  2000|07-01-2016|   1000|
+-----+-------+------+----------+-------+

###b) Create a new column named NextSal which will have data of Amit's next row value of salary as given below

In [128]:
//useful when we have usecases like comparison with next value. 

//order by Salary Date to get previous salary. 
//or first row we will get NULL

val emp_df2=emp_df1.withColumn("NextSal",lead(col("Salary"),1).over(window))

emp_df2: org.apache.spark.sql.DataFrame = [EmpId: int, EmpName: string ... 4 more fields]

In [129]:
emp_df2.show()

+-----+-------+------+----------+-------+-------+
|EmpId|EmpName|Salary|SalaryDate|prevSal|NextSal|
+-----+-------+------+----------+-------+-------+
|    1|   Amit|  1000|01-01-2016|   null|   2000|
|    1|   Amit|  2000|02-01-2016|   1000|   1000|
|    1|   Amit|  1000|03-01-2016|   2000|   2000|
|    1|   Amit|  2000|04-01-2016|   1000|   3000|
|    1|   Amit|  3000|05-01-2016|   2000|   1000|
|    1|   Amit|  1000|06-01-2016|   3000|   2000|
|    1|   Amit|  2000|07-01-2016|   1000|   null|
+-----+-------+------+----------+-------+-------+

###c) Create a new column as salDiff having difference of column nextSal and prevSal .Create one more new column as increment. If the difference is null then increment value will be same. If its greater than 0 then up else down

In [130]:
val emp_df3=emp_df2.withColumn("salDiff",col("NextSal")-col("prevSal"))

emp_df3: org.apache.spark.sql.DataFrame = [EmpId: int, EmpName: string ... 5 more fields]

In [131]:
emp_df3.show()

+-----+-------+------+----------+-------+-------+-------+
|EmpId|EmpName|Salary|SalaryDate|prevSal|NextSal|salDiff|
+-----+-------+------+----------+-------+-------+-------+
|    1|   Amit|  1000|01-01-2016|   null|   2000|   null|
|    1|   Amit|  2000|02-01-2016|   1000|   1000|      0|
|    1|   Amit|  1000|03-01-2016|   2000|   2000|      0|
|    1|   Amit|  2000|04-01-2016|   1000|   3000|   2000|
|    1|   Amit|  3000|05-01-2016|   2000|   1000|  -1000|
|    1|   Amit|  1000|06-01-2016|   3000|   2000|  -1000|
|    1|   Amit|  2000|07-01-2016|   1000|   null|   null|
+-----+-------+------+----------+-------+-------+-------+

In [132]:
val emp_df4=emp_df3.withColumn("increment",when(col("salDiff").isNull,"Same").when(col("salDiff")<=0,"Down").when(col("salDiff")>0,"Up"))

emp_df4: org.apache.spark.sql.DataFrame = [EmpId: int, EmpName: string ... 6 more fields]

In [133]:
emp_df4.show()

+-----+-------+------+----------+-------+-------+-------+---------+
|EmpId|EmpName|Salary|SalaryDate|prevSal|NextSal|salDiff|increment|
+-----+-------+------+----------+-------+-------+-------+---------+
|    1|   Amit|  1000|01-01-2016|   null|   2000|   null|     Same|
|    1|   Amit|  2000|02-01-2016|   1000|   1000|      0|     Down|
|    1|   Amit|  1000|03-01-2016|   2000|   2000|      0|     Down|
|    1|   Amit|  2000|04-01-2016|   1000|   3000|   2000|       Up|
|    1|   Amit|  3000|05-01-2016|   2000|   1000|  -1000|     Down|
|    1|   Amit|  1000|06-01-2016|   3000|   2000|  -1000|     Down|
|    1|   Amit|  2000|07-01-2016|   1000|   null|   null|     Same|
+-----+-------+------+----------+-------+-------+-------+---------+

### Q5) Derive relevant scenarios of different types of joins using spark scala.

The Spark SQL supports several types of joins such as inner join, cross join, left outer join, right outer join, full outer join, left semi-join, left anti join. 
Consider following two datasets:

1.Book Dataset
2.Writer Dataset

In [134]:
val writerdata = Seq(("Martin",1),("Zaharia", 2),("Neha", 3),("James", 4))
val writer_df = writerdata.toDF("writer_name","writer_id")
writer_df.show()

+-----------+---------+
|writer_name|writer_id|
+-----------+---------+
|     Martin|        1|
|    Zaharia|        2|
|       Neha|        3|
|      James|        4|
+-----------+---------+

writerdata: Seq[(String, Int)] = List((Martin,1), (Zaharia,2), (Neha,3), (James,4))
writer_df: org.apache.spark.sql.DataFrame = [writer_name: string, writer_id: int]

In [135]:
val bookdata = Seq(("Scala", 400, 1),("Spark", 500, 2),("Kafka", 300, 3),("Java", 350, 5))
val book_df = bookdata.toDF("book_name","cost","writer_id")
book_df.show()

+---------+----+---------+
|book_name|cost|writer_id|
+---------+----+---------+
|    Scala| 400|        1|
|    Spark| 500|        2|
|    Kafka| 300|        3|
|     Java| 350|        5|
+---------+----+---------+

bookdata: Seq[(String, Int, Int)] = List((Scala,400,1), (Spark,500,2), (Kafka,300,3), (Java,350,5))
book_df: org.apache.spark.sql.DataFrame = [book_name: string, cost: int ... 1 more field]

**1. Inner Join**
The INNER JOIN returns the dataset which has the rows that have matching values in both the datasets i.e. value of the common field will be the same.

In [136]:
val BookWriterInner = book_df.join(writer_df, book_df("writer_id") === writer_df("writer_id"), "inner")
BookWriterInner.show()

+---------+----+---------+-----------+---------+
|book_name|cost|writer_id|writer_name|writer_id|
+---------+----+---------+-----------+---------+
|    Scala| 400|        1|     Martin|        1|
|    Spark| 500|        2|    Zaharia|        2|
|    Kafka| 300|        3|       Neha|        3|
+---------+----+---------+-----------+---------+

BookWriterInner: org.apache.spark.sql.DataFrame = [book_name: string, cost: int ... 3 more fields]

**2. Cross Join**
The CROSS JOIN returns the dataset which is the number of rows in the first dataset multiplied by the number of rows in the second dataset. Such kind of result is called the Cartesian Product. 
Prerequisite: For using a cross join, spark.sql.crossJoin.enabled must be set to true.
Otherwise, the exception will be thrown.

In [137]:
spark.conf.set("spark.sql.crossJoin.enabled", true)

In [138]:
val BookWriterCross = book_df.join(writer_df)
BookWriterCross.show()

+---------+----+---------+-----------+---------+
|book_name|cost|writer_id|writer_name|writer_id|
+---------+----+---------+-----------+---------+
|    Scala| 400|        1|     Martin|        1|
|    Scala| 400|        1|    Zaharia|        2|
|    Scala| 400|        1|       Neha|        3|
|    Scala| 400|        1|      James|        4|
|    Spark| 500|        2|     Martin|        1|
|    Spark| 500|        2|    Zaharia|        2|
|    Spark| 500|        2|       Neha|        3|
|    Spark| 500|        2|      James|        4|
|    Kafka| 300|        3|     Martin|        1|
|    Kafka| 300|        3|    Zaharia|        2|
|    Kafka| 300|        3|       Neha|        3|
|    Kafka| 300|        3|      James|        4|
|     Java| 350|        5|     Martin|        1|
|     Java| 350|        5|    Zaharia|        2|
|     Java| 350|        5|       Neha|        3|
|     Java| 350|        5|      James|        4|
+---------+----+---------+-----------+---------+

BookWriterCross: org.apache.spark.sql.DataFrame = [book_name: string, cost: int ... 3 more fields]

**3. Left Outer Join**
The LEFT OUTER JOIN returns the dataset that has all rows from the left dataset,
and the matched rows from the right dataset.

In [139]:
val BookWriterLeft = book_df.join(writer_df, book_df("writer_id") === writer_df("writer_id"), "leftouter")
BookWriterLeft.show()

+---------+----+---------+-----------+---------+
|book_name|cost|writer_id|writer_name|writer_id|
+---------+----+---------+-----------+---------+
|    Scala| 400|        1|     Martin|        1|
|    Spark| 500|        2|    Zaharia|        2|
|    Kafka| 300|        3|       Neha|        3|
|     Java| 350|        5|       null|     null|
+---------+----+---------+-----------+---------+

BookWriterLeft: org.apache.spark.sql.DataFrame = [book_name: string, cost: int ... 3 more fields]

**4. Right outer join**
The RIGHT OUTER JOIN returns the dataset that has all rows from the right dataset, and the matched rows from the left dataset.

In [140]:
val BookWriterRight = book_df.join(writer_df, book_df("writer_id") === writer_df("writer_id"), "rightouter")
BookWriterRight.show()

+---------+----+---------+-----------+---------+
|book_name|cost|writer_id|writer_name|writer_id|
+---------+----+---------+-----------+---------+
|    Scala| 400|        1|     Martin|        1|
|    Spark| 500|        2|    Zaharia|        2|
|    Kafka| 300|        3|       Neha|        3|
|     null|null|     null|      James|        4|
+---------+----+---------+-----------+---------+

BookWriterRight: org.apache.spark.sql.DataFrame = [book_name: string, cost: int ... 3 more fields]

**5. Full Outer Join**
The FULL OUTER JOIN returns the dataset that has all rows when there is a match in either the left or right dataset.

In [141]:
val BookWriterFull = book_df.join(writer_df, book_df("writer_id") === writer_df("writer_id"), "fullouter")
BookWriterFull.show()

+---------+----+---------+-----------+---------+
|book_name|cost|writer_id|writer_name|writer_id|
+---------+----+---------+-----------+---------+
|    Scala| 400|        1|     Martin|        1|
|    Kafka| 300|        3|       Neha|        3|
|     Java| 350|        5|       null|     null|
|     null|null|     null|      James|        4|
|    Spark| 500|        2|    Zaharia|        2|
+---------+----+---------+-----------+---------+

BookWriterFull: org.apache.spark.sql.DataFrame = [book_name: string, cost: int ... 3 more fields]

**6. Left Semi Outer Join**
The LEFT SEMI JOIN returns the dataset which has all rows from the left dataset having their correspondence in the right dataset. 
Unlike the LEFT OUTER JOIN, the returned dataset in LEFT SEMI JOIN contains only the columns from the left dataset.

In [142]:
val BookWriterLeftSemi = book_df.join(writer_df, book_df("writer_id") === writer_df("writer_id"), "leftsemi")
BookWriterLeftSemi.show()

+---------+----+---------+
|book_name|cost|writer_id|
+---------+----+---------+
|    Scala| 400|        1|
|    Spark| 500|        2|
|    Kafka| 300|        3|
+---------+----+---------+

BookWriterLeftSemi: org.apache.spark.sql.DataFrame = [book_name: string, cost: int ... 1 more field]

**7. Left Anti Join**
The ANTI SEMI JOIN returns the dataset which has all the rows from the left dataset that don’t have their matching in the right dataset. It also contains only the columns from the left dataset.

In [143]:
val BookWriterLeftAnti = book_df.join(writer_df, book_df("writer_id") === writer_df("writer_id"), "leftanti")
BookWriterLeftAnti.show()

+---------+----+---------+
|book_name|cost|writer_id|
+---------+----+---------+
|     Java| 350|        5|
+---------+----+---------+

BookWriterLeftAnti: org.apache.spark.sql.DataFrame = [book_name: string, cost: int ... 1 more field]

**Q6)Store the given below dataset in a text file with the name stock_market.txt**

2012-01-03,59.970001,61.060001,59.869999,60.330002,12668800,52.619234999999996,2012-01-04,60.209998999999996,60.349998,59.470001,59.709998999999996,9593300,52.078475,2012-01-05,59.349998,59.619999,58.369999,59.419998,12768200,51.825539,2012-01-06,59.419998,59.450001,58.869999,59.0,8069400,51.45922,2012-01-09,59.029999,59.549999,58.919998,59.18,6679300,51.616215000000004,2012-01-10,59.43,59.709998999999996,58.98,59.040001000000004,6907300,51.494109,2012-01-11,59.060001,59.529999,59.040001000000004,59.400002,6365600,51.808098,2012-01-12,59.790001000000004,60.0,59.400002,59.5,7236400,51.895315999999994

a)Seperate the line into a new row after occurance of every 7th comma as a delimiter and display the result. There will be 7 columns named Date,Open,High,Low,Close,Volume,AdjClose should be tagged with the data. Make use of Case Class wherever necessary.

In [144]:
val stock_rdd=sc.textFile("C:\\Users\\SUPBHAUS\\Desktop\\Scala Training\\Stock_market.txt")

stock_rdd: org.apache.spark.rdd.RDD[String] = C:\Users\SUPBHAUS\Desktop\Scala Training\Stock_market.txt MapPartitionsRDD[320] at textFile at <console>:59

In [145]:
val df=stock_rdd.toDF()

df: org.apache.spark.sql.DataFrame = [value: string]

In [146]:
import spark.implicits._

import spark.implicits._

In [147]:
case class Stock(date: String, open: String, high: Double, low: Double, close: Double, volume: Long, adjClose: Double)

import spark.implicits._

val stock_df=df.withColumn("value", regexp_replace(col("value"), "([^,]*),([^,]*),([^,]*),([^,]*),([^,]*),([^,]*),([^,]*),", "$1,$2,$3,$4,$5,$6,$7\n"))
  .withColumn("value", explode(split(col("value"), "\n")))
  .withColumn("value", split(col("value"), ",")).as[Seq[String]].withColumn("date",col("value").getItem(0)).withColumn("open",col("value").getItem(1)).withColumn("high",col("value").getItem(2)).withColumn("low",col("value").getItem(3)).withColumn("close",col("value").getItem(4)).withColumn("volume",col("value").getItem(5)).withColumn("adjClose",col("value").getItem(6))
  //.map(a => Stock(a.head, a(1), a(2).toDouble, a(3).toDouble, a(4).toDouble, a(5).toLong, a(6).toDouble))

defined class Stock
import spark.implicits._
stock_df: org.apache.spark.sql.DataFrame = [value: array<string>, date: string ... 6 more fields]

In [148]:
stock_df.select(col("date"),col("open"),col("high"),col("low"),col("close"),col("volume"),col("adjClose")).show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+
|      date|              open|              high|               low|             close|  volume|          adjClose|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|
+----------+------------------+------------------+------------------+------------------+--------+------------------+

In [149]:
stock_df.show(1)

+--------------------+----------+---------+---------+---------+---------+--------+------------------+
|               value|      date|     open|     high|      low|    close|  volume|          adjClose|
+--------------------+----------+---------+---------+---------+---------+--------+------------------+
|[2012-01-03, 59.9...|2012-01-03|59.970001|61.060001|59.869999|60.330002|12668800|52.619234999999996|
+--------------------+----------+---------+---------+---------+---------+--------+------------------+
only showing top 1 row

##Q7) Given below is a comma delimited dataset. Store it in a CSV file.

id,name,age,City
1,Ajay,23,Kolkata
2,Alok,45,Bangalore
3,Ashish,34,Lucknow
4,Abhishek,26,Delhi
5,Amit,28,Nagpur

###a) Load the dataset in a dataframe and arrange it by age.

In [150]:
val datadf=spark.read.option("header",true).csv("C:\\Users\\SUPBHAUS\\Desktop\\Scala Training\\DataEmp.csv")

datadf: org.apache.spark.sql.DataFrame = [id: string, name: string ... 2 more fields]

In [151]:
datadf.show()

+---+--------+---+---------+
| id|    name|age|     City|
+---+--------+---+---------+
|  1|    Ajay| 23|  Kolkata|
|  2|    Alok| 45|Bangalore|
|  3|  Ashish| 34|  Lucknow|
|  4|Abhishek| 26|    Delhi|
|  5|    Amit| 28|   Nagpur|
+---+--------+---+---------+

In [152]:
datadf.orderBy(col("age")).show()

+---+--------+---+---------+
| id|    name|age|     City|
+---+--------+---+---------+
|  1|    Ajay| 23|  Kolkata|
|  4|Abhishek| 26|    Delhi|
|  5|    Amit| 28|   Nagpur|
|  3|  Ashish| 34|  Lucknow|
|  2|    Alok| 45|Bangalore|
+---+--------+---+---------+

### b) Hide the first 3 letters of name and make it confidential as given below.

In [153]:
//REGEXP performs a pattern match of a string expression against a pattern. The pattern is supplied as an argument.
//If the pattern finds a match in the expression, the function returns 1, else it returns 0. 
//If either expression or pattern is NULL, the function returns NULL

val datadf1=datadf.withColumn("name",regexp_replace(col("name"),"^...","***"))

datadf1: org.apache.spark.sql.DataFrame = [id: string, name: string ... 2 more fields]

In [154]:
datadf1.show()

+---+--------+---+---------+
| id|    name|age|     City|
+---+--------+---+---------+
|  1|    ***y| 23|  Kolkata|
|  2|    ***k| 45|Bangalore|
|  3|  ***ish| 34|  Lucknow|
|  4|***ishek| 26|    Delhi|
|  5|    ***t| 28|   Nagpur|
+---+--------+---+---------+

##Questionare:

### 1.	What are Case Classes?

A **Case Class** is just like a regular class, which has a feature for modeling unchangeable data.
--Pattern Matching:
Pattern matching allows us to nicely decompose classes and write intuitive code.
It’s definitely the coolest feature we have in case classes

It is serializable. Case class can’t inherit from another case class.
It has a by default hashCode implementation.
you can create objects of the Case Class even in the absence of the keyword new.
Companion objects.

In [155]:
//Let’s start by defining an example case class:
//By default, all constructor parameters are public and immutable.

case class CovidCountryStats(countryCode: String, deaths: Int, confirmedCases: Int)

defined class CovidCountryStats

In [156]:
//We can create an instance of a case class in a short and concise way:

val covidPL = CovidCountryStats("PL", 776, 15366)

covidPL: CovidCountryStats = CovidCountryStats(PL,776,15366)

### 2.	What is the difference between var and value?

**val** means value and **var** means variable"

Scala has two types of variables:

- val creates an immutable variable (like final in Java).
- var creates a mutable variable.

In [157]:
val s = "hello"   // immutable//Variable reassignment is not possible

s: String = hello

In [158]:
s = "Hii"

In [ ]:
var i = 42        // mutable//Variable reassignment is possible.

In [ ]:
i = 40

### 3.Describe Exception Handling in Scala?

Exception handling in Scala is implemented differently, but it behaves exactly like Java and works seamlessly with existing Java libraries. 
In scala, All exceptions are unchecked. 
there is no concept of checked exception Scala facilitates a great deal of flexibility in terms of the ability to choose whether to catch an exception.

The Throwing Exceptions:
Throwing an exception. It looks same as in Java. we create an exception object and then we throw it by using throw keyword.

Syntax:

throw new ArithmeticException

The try/catch Construct:
The try/catch construct is different in Scala than in Java, In Scala it is an expression.
The exception in Scala and that results in a value can be pattern matched in the catch block instead of providing a separate catch clause for each different exception.
Here is an example of exception Handling using the conventional try-catch block in Scala.

If we want some part of our code to execute irrespective of how the expression terminates we can use a finally block.

In [ ]:
import java.io.IOException

object GFG
{
    // Main method
    def main(args:Array[String])
    {
        try
        {
            var N = 5/0
        }
        catch
        {

            case i: IOException =>
            {
                println("IOException occurred.")
            }
            case a : ArithmeticException =>
            {
                println("Arithmetic Exception occurred.")
            }

        }
        finally
        {
            // Finally block will execute 
            println("This is final block.")
        }

     }
}

### 4.What is a closure in Scala?

Scala Closures are functions which uses one or more free variables and the return value of this function is dependent of these variable. 
The free variables are defined outside of the Closure Function and is not included as a parameter of this function.

In [ ]:
// defined the value of p as 10
val p = 10

// define this closure.
def example(a:Double) = a*p / 100
example(1000)

what closure function does is, that it takes the most recent state of the free variable and changes the value of the closure function accordingly.